/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;

}
body{
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center ;
   background-size:no-repeat;
  background-size: 100%;
}

